apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: rate-1m-requests-total
  labels:
    app: prometheus-operator
    release: bootcamp-demo
spec:
  groups:
  - name: bootcamp-demo
    rules:
    - record: rate1m_requests_total
      expr: rate(requests_total[1m])
