apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: bootcamp-demo
  labels:
    release: bootcamp-demo
spec:
  selector:
    matchLabels:
      app: bootcamp-demo
  endpoints:
  - port: metrics
